{% extends "base.html" %} {% block title %}Tributação{% endblock %}

{% block pg_title %}
<p class="h3 text-muted">Tributação</p>
{% endblock %}

{%block content%}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Itens</th>
      <th scope="col">Valor Base</th>
      <th scope="col">Valor ICMS</th>
      <th scope="col">Valor IPI</th>
      <th scope="col">Valor PIS</th>
      <th scope="col">Valor COFINS</th>
      <th scope="col">Valor Total</th>
    </tr>
  </thead>
    <tbody>
      {% for nota in notas %}
        <tr>
          <td ><a href="{{nota.tribut._path}}">
            {%if nota.itens.__class__.__name__ == 'list' %}
              {%for item in nota.itens%}
                {{ item.det.prod.xProd }}<br>
              {%endfor%}
            {%else%}
              {{ nota.itens.det.prod.xProc }}
            {%endif%}</a>
          </td>
          <td>R$ {{ nota.tribut.ICMSTot.vBC }}</td>
          <td>R$ {{ nota.tribut.ICMSTot.vICMS }}</td>
          <td>R$ {{ nota.tribut.ICMSTot.vIPI }}</td>
          <td>R$ {{ nota.tribut.ICMSTot.vPIS }}</td>
          <td>R$ {{ nota.tribut.ICMSTot.vCOFINS }}</td>
          <td>R$ {{ nota.tribut.ICMSTot.vTotTrib }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
